Repository pianeta051/wCleaner: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint

.lintstagedrc.json:

{
  "*.ts": ["yarn format", "yarn lint"],
  "*.tsx": ["yarn format", "yarn lint"],
  "*.js": ["yarn format"]
}

issue #90 Fixed in dev-testing in prod -changing nextCustomer()
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/team-provider-info.json
Due: yarn format

fix: customers pagination via query on status-index
  amplify/backend/function/wCleanerApi/src/db.js
Due: yarn format

issue #90: use index to get next customer
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
  src/hooks/Customers/useCustomers.ts
Due: yarn format, yarn lint

issue #90: lint
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
Due: none

install new sdk
  .vscode/settings.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/AdminQueries0c37162b/src/cognitoActions.js
  amplify/backend/function/AdminQueries0c37162b/src/package.json
  amplify/backend/function/AdminQueries0c37162b/src/yarn.lock
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
Due: yarn format

deploy changes2
  amplify/backend/backend-config.json
Due: none

fix width for login form
  src/pages/authentication/Layout/Layout.tsx
Due: yarn format, yarn lint

issue #103 Fixing pagination
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/team-provider-info.json
  src/components/Customer/CustomerForm/CustomerForm.tsx
  src/index.css
  src/pages/admin/Jobs/Jobs.style.ts
Due: yarn format, yarn lint

issue #87 Fixing pagination
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/team-provider-info.json
  src/components/TopBar/TopBar.tsx
  src/pages/admin/Jobs/Jobs.tsx
Due: yarn format, yarn lint

issue #87 Fixing pagination adding db
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/team-provider-info.json
  src/components/OutcodesSelector/OutcodesSelector.tsx
  src/hooks/Customers/useAddCustomer.ts
  src/hooks/Customers/useCustomers.ts
  src/hooks/Customers/useDeleteCustomer.ts
  src/pages/admin/customers/Customers/Customers.tsx
Due: yarn format, yarn lint

issue #102: invoice reference format
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/mappers.js
  amplify/backend/function/wCleanerApi/src/utils/invoiceNumber.js
  amplify/team-provider-info.json
Due: yarn format

force update all cfn stacks
  .vscode/settings.json
  amplify.yml
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/team-provider-info.json
Due: none

print for deployment debug
  amplify.yml
Due: none

fix grep
  amplify.yml
Due: none

back to amplifypush
  amplify.yml
Due: none

issue #99: invoice deletion and custom number
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/api/wCleanerApi/override.ts
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/custom/monitoring/.npmrc
  amplify/backend/custom/monitoring/cdk-stack.ts
  amplify/backend/custom/monitoring/package.json
  amplify/backend/custom/monitoring/tsconfig.json
  amplify/backend/custom/monitoring/yarn.lock
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/mappers.js
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/backend/types/amplify-dependent-resources-ref.d.ts
  amplify/team-provider-info.json
  src/components/DeleteInvoiceButton/DeleteInvoiceButton.tsx
  src/components/ErrorMessage/ErrorMessage.tsx
  src/components/GenerateInvoiceModal/GenerateInvoiceModal.tsx
  src/components/InvoiceActionButtons/InvoiceActionButtons.tsx
  src/components/InvoiceForm/InvoiceForm.tsx
  src/hooks/Jobs/useDeleteInvoice.ts
  src/hooks/Jobs/useGenerateInvoice.ts
  src/services/error.ts
  src/services/jobs.ts
Due: yarn format, yarn lint

ignore amplify json files on prettier
  .prettierignore
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/custom/monitoring/package.json
  amplify/backend/custom/monitoring/tsconfig.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
Due: none

issue #111: Using batchGetItem to improve the efficiency
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/authentication.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
Due: yarn format

issue #99: automatic consecutive numbers on invoices
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/authentication.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/utils/invoiceNumber.js
  amplify/team-provider-info.json
  src/components/GenerateInvoiceModal/GenerateInvoiceModal.tsx
  src/components/InvoiceForm/InvoiceForm.tsx
Due: yarn format, yarn lint

#111 batch get job addresses
  amplify/backend/custom/monitoring/cdk-stack.ts
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/mappers.js
  amplify/backend/function/wCleanerApi/src/routes/customers.js
  amplify/team-provider-info.json
  src/services/jobs.ts
Due: yarn format, yarn lint

issue #111 run expensive calls in parallel
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/authentication.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/team-provider-info.json
Due: yarn format

retrieve invoices from back-end
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/api/wCleanerApi/cli-inputs.json
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/authentication.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/mappers.js
  amplify/team-provider-info.json
  src/components/CustomersTable/CustomerTable.style.ts
  src/components/CustomersTable/CustomersTable.tsx
  src/components/DownloadInvoiceButton/DownloadInvoiceButton.tsx
  src/components/ErrorMessage/ErrorMessage.tsx
  src/components/InvoicesTable/InvoicesTable.style.ts
  src/components/InvoicesTable/InvoicesTable.tsx
  src/components/TopBar/TopBar.tsx
  src/hooks/Jobs/useGenerateInvoice.ts
  src/hooks/Jobs/useInvoicesInfinite.ts
  src/hooks/Jobs/useJobInvoice.ts
  src/pages/admin/customers/Customers/Customers.tsx
  src/pages/admin/invoices/InvoicePreviewPage/InvoicePreviewPage.style.ts
  src/pages/admin/invoices/InvoicePreviewPage/InvoicePreviewPage.tsx
  src/pages/admin/invoices/InvoicesList/InvoicesList.style.ts
  src/pages/admin/invoices/InvoicesList/InvoicesList.tsx
  src/routes/AppRoutes.tsx
  src/services/error.ts
  src/services/jobs.ts
  src/types/types.ts
Due: yarn format, yarn lint

add settings
  .vscode/settings.json
Due: none

install new sdk
  amplify/backend/function/AdminQueries0c37162b/src/cognitoActions.js
  amplify/backend/function/AdminQueries0c37162b/src/package.json
  amplify/backend/function/AdminQueries0c37162b/src/yarn.lock
Due: yarn format

refactor removing from group
  .vscode/settings.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/src/cognitoActions.js
  amplify/backend/types/amplify-dependent-resources-ref.d.ts
  amplify/team-provider-info.json
Due: yarn format, yarn lint

upgrade aws-sdk and nodejs on admin queries
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/AdminQueries0c37162b/src/app.js
  amplify/backend/function/AdminQueries0c37162b/src/cognitoActions.js
  amplify/backend/function/AdminQueries0c37162b/src/index.js
  amplify/backend/function/AdminQueries0c37162b/src/package-lock.json
  amplify/backend/function/AdminQueries0c37162b/src/package.json
  amplify/backend/function/AdminQueries0c37162b/src/yarn.lock
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/team-provider-info.json
Due: yarn format

lint
  .vscode/settings.json
  amplify/backend/types/amplify-dependent-resources-ref.d.ts
Due: yarn format, yarn lint

issue #115: Api in locar server
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/authentication.js
  amplify/backend/function/wCleanerApi/src/package.json
  amplify/backend/function/wCleanerApi/src/yarn.lock
  src/services/authentication.ts
  src/services/customers.ts
  src/services/dataApi.ts
  src/services/jobs.ts
Due: yarn format, yarn lint

local
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/team-provider-info.json
Due: none

Upgrade aws sdk (#114)
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/AdminQueries0c37162b/src/app.js
  amplify/backend/function/AdminQueries0c37162b/src/cognitoActions.js
  amplify/backend/function/AdminQueries0c37162b/src/index.js
  amplify/backend/function/AdminQueries0c37162b/src/package-lock.json
  amplify/backend/function/AdminQueries0c37162b/src/package.json
  amplify/backend/function/AdminQueries0c37162b/src/yarn.lock
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/team-provider-info.json
Due: yarn format

issue #116:filters
  .vscode/settings.json
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/routes/customers.js
Due: yarn format

issue #116:fixing filters customers
  src/components/SearchBar/SearchBar.tsx
Due: yarn format, yarn lint

local
  .vscode/settings.json
  src/components/InvoicesTable/InvoicesTable.tsx
  yarn.lock
Due: yarn format, yarn lint

issue #118 set up local dev environment for admin queries
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/AdminQueries0c37162b/function-parameters.json
  amplify/backend/function/AdminQueries0c37162b/src/app.js
  amplify/backend/function/AdminQueries0c37162b/src/index.js
  amplify/backend/function/AdminQueries0c37162b/src/package.json
  amplify/backend/function/AdminQueries0c37162b/src/yarn.lock
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/team-provider-info.json
  src/services/adminQueries.ts
  src/services/dataApi.ts
Due: yarn format, yarn lint

reformat
  .vscode/settings.json
Due: none

issue #101 Invoices can be reordered
  .vscode/settings.json
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/mappers.js
  amplify/backend/storage/wcleaner/cli-inputs.json
  amplify/team-provider-info.json
  src/components/InvoicesTable/InvoicesTable.tsx
  src/components/JobForm/JobForm.tsx
  src/components/JobInvoice/JobInvoice.tsx
  src/hooks/Jobs/useInvoicesInfinite.ts
  src/pages/admin/invoices/InvoicesList/InvoicesList.tsx
  src/services/jobs.ts
Due: yarn format, yarn lint

issue #116 Customers filter
  .vscode/settings.json
  src/hooks/Jobs/useInvoicesInfinite.ts
  src/pages/admin/invoices/InvoicesFilters/InvoicesFilters.style.ts
  src/pages/admin/invoices/InvoicesFilters/InvoicesFilters.tsx
  src/pages/admin/invoices/InvoicesList/InvoicesList.tsx
  src/services/jobs.ts
Due: yarn format, yarn lint
