Repository pianeta051/wCleaner: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint

.lintstagedrc.json:

{
  "*.ts": ["yarn format", "yarn lint"],
  "*.tsx": ["yarn format", "yarn lint"],
  "*.js": ["yarn format"]
}

upgrade amplify version to 20
  amplify.yml
Due: none

issues #30 and #16: finish soft delete and add login url to welcome email
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/AdminQueries0c37162b/src/app.js
  amplify/backend/function/AdminQueries0c37162b/src/cognitoActions.js
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/function-parameters.json
  amplify/backend/function/wcleanerCustomMessage/src/custom.js
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
  src/components/Customer/CreateCustomer/NewCustomerModal/NewCustomerModal.cy.tsx
  src/components/DeleteCustomerButton/DeleteCustomerButton.tsx
  src/components/OutcodesSelector/OutcodesSelector.tsx
  src/components/TopBar/TopBar.style.ts
  src/hooks/Customers/customerNotes/useEditCustomerNote.ts
  src/hooks/Files/useDeleteFile.ts
  src/services/authentication.ts
  src/services/customers.ts
Due: yarn format, yarn lint

issues #32
  amplify/backend/function/wCleanerApi/src/authentication.js
  amplify/backend/function/wcleanerCustomMessage/function-parameters.json
  amplify/team-provider-info.json
  src/components/JobCalendarColorLegend/JobCalendarColorLegend.tsx
Due: yarn format, yarn lint

issue #41: jobs for deleted users
  amplify/backend/function/wCleanerApi/src/authentication.js
  amplify/team-provider-info.json
  src/components/JobCalendarColorLegend/JobCalendarColorLegend.tsx
  src/services/jobs.ts
Due: yarn format, yarn lint

issue #28: update the custom message redirect
  amplify/team-provider-info.json
Due: none

issue #28: deploy
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
Due: none

issue #38: migration of data
  migrations/create-customer-address.js
  migrations/package.json
  migrations/yarn.lock
Due: yarn format

issue #38: create addresses when creating customers
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
  src/components/Customer/CustomerAddressForm/CustomerAddressForm.tsx
  src/components/Customer/CustomerForm/CustomerForm.cy.tsx
  src/components/Customer/CustomerForm/CustomerForm.style.ts
  src/components/Customer/CustomerForm/CustomerForm.tsx
  src/components/Form/Form.style.ts
  src/factories/customers.ts
  src/helpers/customer.ts
  src/pages/admin/customers/CustomerDetails/CustomerDetails.tsx
Due: yarn format, yarn lint

create checkbox to copy address
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
  src/components/Customer/CustomerAddressForm/CustomerAddressForm.tsx
  src/components/Customer/CustomerForm/CustomerForm.style.ts
  src/components/Customer/CustomerForm/CustomerForm.tsx
Due: yarn format, yarn lint

show customer details with addresses
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/mappers.js
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
  src/components/Customer/CustomerForm/CustomerForm.style.ts
  src/components/Customer/CustomerForm/CustomerForm.tsx
  src/helpers/customer.ts
  src/pages/admin/customers/CustomerDetails/CustomerDetails.tsx
  src/types/types.ts
Due: yarn format, yarn lint

issue #38: create new addresses when editing a customer
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/team-provider-info.json
  src/pages/admin/customers/CustomerDetails/CustomerDetails.tsx
Due: yarn format, yarn lint

issue #38: make sure address names are unique
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/team-provider-info.json
  src/components/ErrorMessage/ErrorMessage.tsx
  src/services/customers.ts
  src/services/error.ts
Due: yarn format, yarn lint

issue #38: dont send creation of addresses twice
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/team-provider-info.json
  src/components/Customer/CustomerForm/CustomerForm.tsx
  src/pages/admin/customers/CustomerDetails/CustomerDetails.tsx
Due: yarn format, yarn lint

issue #38: edit customer address
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/team-provider-info.json
Due: yarn format

delete customer address from the X button
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/team-provider-info.json
  src/components/Customer/CustomerForm/CustomerForm.tsx
  src/hooks/Customers/addresses/useDeleteCustomerAddress.ts
  src/pages/admin/customers/CustomerDetails/CustomerDetails.tsx
  src/services/customers.ts
Due: yarn format, yarn lint

issue #38: loading animations and delete addresses that are not in the db
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
  src/components/Customer/CustomerAddressForm/CustomerAddressForm.tsx
  src/components/Customer/CustomerForm/CustomerForm.tsx
  src/pages/admin/customers/CustomerDetails/CustomerDetails.tsx
Due: yarn format, yarn lint

issue #38: do not allow the last address to be deleted
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
  src/components/Customer/CustomerForm/CustomerForm.tsx
  src/components/ErrorMessage/ErrorMessage.tsx
  src/services/customers.ts
  src/services/error.ts
Due: yarn format, yarn lint

issue #38: remove button for last address
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
  src/components/Customer/CustomerForm/CustomerForm.tsx
Due: yarn format, yarn lint

isse #38: soft-delete addresses when deleting customers
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
  migrations/set-all-addresses-to-active.js
  src/components/CustomersTable/CustomersTable.tsx
  src/components/DeleteCustomerButton/DeleteCustomerButton.tsx
  src/hooks/Customers/useCustomers.ts
  src/pages/admin/customers/Customers/Customers.tsx
Due: yarn format, yarn lint

issue #39: job migration script to add address id
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
  migrations/migrate-jobs-assign-address.js
Due: yarn format

issue #39: select address on the customer selector
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
  src/components/AddressSelector/AddressSelector.cy.tsx
  src/components/AddressSelector/AddressSelector.style.ts
  src/components/AddressSelector/AddressSelector.tsx
  src/components/CustomerSelector/CustomerSelector.tsx
  src/components/GenericJobModal/GenericJobModal.tsx
  src/components/Job/CustomerJob.style.ts
  src/components/Job/CustomerJob.tsx
  src/hooks/Customers/useCustomers.ts
  src/hooks/Jobs/useAddJob.ts
  src/pages/admin/customers/Customers/Customers.tsx
  src/services/customers.ts
  src/services/jobs.ts
  src/types/types.ts
Due: yarn format, yarn lint

Revert "issue #39: select address on the customer selector"
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
  src/components/AddressSelector/AddressSelector.tsx
  src/components/CustomerSelector/CustomerSelector.cy.tsx
  src/components/CustomerSelector/CustomerSelector.style.ts
  src/components/CustomerSelector/CustomerSelector.tsx
  src/components/GenericJobModal/GenericJobModal.tsx
  src/components/Job/CustomerJob.style.ts
  src/components/Job/CustomerJob.tsx
  src/hooks/Customers/useCustomers.ts
  src/hooks/Jobs/useAddJob.ts
  src/pages/admin/customers/Customers/Customers.tsx
  src/services/customers.ts
  src/services/jobs.ts
  src/types/types.ts
Due: yarn format, yarn lint

create jobs assigned to an address
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
  src/components/CustomerJobModal/CustomerJobModal.cy.tsx
  src/components/CustomerJobModal/CustomerJobModal.tsx
  src/components/CustomerJobs/CustomerJobs.tsx
  src/components/GenericJobModal/GenericJobModal.tsx
  src/components/Job/CustomerJob.style.ts
  src/components/Job/CustomerJob.tsx
  src/components/JobCalendars/JobCalendars.tsx
  src/components/JobForm/JobForm.tsx
  src/components/JobInfoDisplay/JobInfoDisplay.tsx
  src/hooks/Customers/addresses/useCustomerAddresses.ts
  src/services/customers.ts
  src/types/types.ts
Due: yarn format, yarn lint

lint2
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
Due: none

show current address in edit job form
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/src/mappers.js
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
Due: yarn format

edit job address
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/team-provider-info.json
Due: yarn format

issue #39: show cleaning address in customer jobs table
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/mappers.js
  amplify/team-provider-info.json
  src/components/JobTable/JobsTable.tsx
  src/types/types.ts
Due: yarn format, yarn lint

isse #39: show cleaning address on job details
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/team-provider-info.json
  src/components/JobInfoDisplay/JobInfoDisplay.tsx
Due: yarn format, yarn lint

issue #39: display job cleaning address instead of billing address
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/team-provider-info.json
  src/components/Customer/CustomerForm/CustomerForm.style.ts
  src/components/Customer/CustomerForm/CustomerForm.tsx
  src/components/CustomerJobs/CustomerJobs.style.ts
  src/components/CustomerJobs/CustomerJobs.tsx
  src/components/CustomerNotes/CustomerNotes.tsx
  src/components/JobCalendars/JobCalendars.tsx
  src/components/JobCard/JobCard.tsx
  src/components/JobInfoDisplay/JobInfoDisplay.tsx
  src/components/JobTable/JobsTable.tsx
  src/types/types.ts
Due: yarn format, yarn lint

issue #39: lint
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
Due: none

issue #39: return customer with jobs calendar
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
Due: yarn format

only admins can delete jobs
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
  src/components/JobInfoDisplay/JobInfoDisplay.tsx
Due: yarn format, yarn lint

update cache when jobs are deleted
  src/components/CustomerJobs/CustomerJobs.tsx
  src/components/DeleteJobButton/DeleteJobButton.tsx
  src/components/JobTable/JobsTable.tsx
Due: yarn format, yarn lint

forbid deleting addresses with pending jobs
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/mappers.js
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
  src/components/Customer/CustomerForm/CustomerForm.tsx
Due: yarn format, yarn lint

issue #39: reassign pending jobs when address is deleted
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/mappers.js
  amplify/team-provider-info.json
  src/components/AddressSelector/AddressSelector.tsx
  src/components/Customer/CustomerForm/CustomerForm.tsx
  src/components/CustomerJobs/CustomerJobs.tsx
  src/components/ErrorMessage/ErrorMessage.tsx
  src/components/JobInfoDisplay/JobInfoDisplay.tsx
  src/helpers/job.ts
  src/hooks/Jobs/useUpdateJobAddress.ts
  src/services/customers.ts
  src/services/error.ts
  src/services/jobs.ts
Due: yarn format, yarn lint

fixing getAddressForJobs
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/team-provider-info.json
  migrations/01-create-customer-address.js
  migrations/02-set-all-addresses-to-active.js
  migrations/03-migrate-jobs-assign-address.js
  migrations/addStatusToCustomer.js
Due: yarn format

testing getAddressForJobs in prod
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/team-provider-info.json
Due: yarn format

cleaning getCleaningAddresss in prod
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/team-provider-info.json
  src/components/JobTable/JobsTable.tsx
Due: yarn format, yarn lint

issue #45: add payment and status to jobs creation and update
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/mappers.js
  amplify/team-provider-info.json
  migrations/01-create-customer-address.js
  migrations/02-set-all-addresses-to-active.js
  migrations/03-migrate-jobs-assign-address.js
  migrations/04-add-status-to-customer.js
  migrations/package.json
  src/components/CustomerJobModal/CustomerJobModal.cy.tsx
  src/components/JobCalendars/JobCalendars.tsx
  src/components/JobForm/JobForm.tsx
  src/helpers/job.ts
  src/types/types.ts
Due: yarn format, yarn lint

issue #44: show job status
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
  package.json
  src/components/JobInfoDisplay/JobInfoDisplay.tsx
  src/types/types.ts
  yarn.lock
Due: yarn format, yarn lint
