Repository pianeta051/wCleaner: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint

.lintstagedrc.json:

{
  "*.ts": ["yarn format", "yarn lint"],
  "*.tsx": ["yarn format", "yarn lint"],
  "*.js": ["yarn format"]
}

issue #75: Changing starting time in days views
  src/components/JobCalendars/JobCalendars.tsx
Due: yarn format, yarn lint

issue #76:Fixing userForm - profile etc
  src/components/EditUserModal/EditUserModal.tsx
  src/components/ProfilePassword/ProfilePassword.tsx
  src/components/UserForm/UserForm.tsx
  src/pages/admin/users/CreateUser/CreateUser.style.ts
  src/pages/admin/users/CreateUser/CreateUser.tsx
  src/pages/admin/users/Profile/Profile.style.ts
  src/pages/admin/users/Profile/Profile.tsx
  src/pages/admin/users/Users/Users.style.ts
  src/pages/admin/users/Users/Users.tsx
Due: yarn format, yarn lint

issue #78:Fixing job state in JobCalendar and JobDetails
  src/components/CustomerFiles/CustomerFiles.tsx
  src/components/JobCalendars/JobCalendars.tsx
  src/components/JobCard/JobCard.tsx
  src/components/JobInfoDisplay/JobInfoDisplay.tsx
  src/components/JobToggleStatusButton/JobToggleStatusButton.tsx
  src/pages/admin/users/Profile/Profile.style.ts
  src/pages/admin/users/Profile/Profile.tsx
  src/react-app-env.d.ts
  src/services/authentication.ts
  src/services/customers.ts
  src/services/jobs.ts
Due: yarn format, yarn lint

issue #78:Adding calendar button to topbar
  src/components/JobCalendars/JobCalendars.tsx
  src/components/TopBar/TopBar.style.ts
  src/components/TopBar/TopBar.tsx
  src/pages/admin/Jobs/Jobs.tsx
Due: yarn format, yarn lint

issue #81:Fixing calendar
  src/components/JobCalendars/JobCalendars.tsx
  src/components/TopBar/TopBar.tsx
  src/pages/admin/Jobs/Jobs.tsx
Due: yarn format, yarn lint

issue #81:Fixing calendar
  src/components/JobCalendars/JobCalendars.tsx
Due: yarn format, yarn lint

issue #81:Fixg calendar
  src/components/JobCalendars/JobCalendars.tsx
Due: yarn format, yarn lint

issue #81:Fixg calendar
  src/components/JobCard/JobCard.tsx
Due: yarn format, yarn lint

issue #76:Fixing userForm - profile etc
  src/components/JobCalendars/JobCalendars.tsx
Due: yarn format, yarn lint

issue #78:Adding calendar button to topbar
  src/components/JobCalendars/JobCalendars.tsx
Due: yarn format, yarn lint

Fix job calendar navigation and dynamic min
  src/components/JobCalendars/JobCalendars.tsx
  src/components/TopBar/TopBar.tsx
  src/pages/admin/Jobs/Jobs.tsx
Due: yarn format, yarn lint

Develop (#83)
  src/components/JobCalendars/JobCalendars.tsx
  src/components/TopBar/TopBar.tsx
  src/pages/admin/Jobs/Jobs.tsx
Due: yarn format, yarn lint

Fix job calendar navigation and dynamic min
  src/components/JobCalendars/JobCalendars.tsx
Due: yarn format, yarn lint

issue #81: see more events on month day
  src/components/JobCalendars/JobCalendars.tsx
  src/index.css
  src/pages/admin/Jobs/Jobs.tsx
Due: yarn format, yarn lint

upgrade data grid to v7
  package.json
  yarn.lock
Due: none

upgrade mui-x
  package.json
  yarn.lock
Due: none

issue #67: muix upgrade (#89)
  package.json
  yarn.lock
Due: none

issue #90 Fixing getCustomer
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/team-provider-info.json
Due: yarn format

issue #90 chanding in mapCustomer for a Customer Error en el BackEnd
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/mappers.js
  amplify/team-provider-info.json
Due: yarn format

issue #90 Fixed in dev-testing in prod
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/mappers.js
  amplify/team-provider-info.json
Due: yarn format

issue #90 Fixed in dev-testing in prod
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/team-provider-info.json
Due: yarn format

issue #90 Fixed in dev-testing in prod
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/team-provider-info.json
Due: yarn format

issue #90 Fixed in dev-testing in prod
  .vscode/settings.json
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/auth/userPoolGroups/user-pool-group-precedence.json
  amplify/backend/backend-config.json
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/team-provider-info.json
Due: none

issue #90 Fixed in dev-testing in prod
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/token.js
  amplify/team-provider-info.json
Due: yarn format
