Repository pianeta051/wCleaner: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint

.lintstagedrc.json:

{
  "*.ts": ["yarn format", "yarn lint"],
  "*.tsx": ["yarn format", "yarn lint"],
  "*.js": ["yarn format"]
}

issue #122 fix admin-queries deployment
  .vscode/settings.json
  amplify/backend/backend-config.json
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/AdminQueries0c37162b/function-parameters.json
  amplify/team-provider-info.json
Due: none

issue #119 register paid invoives
  amplify/backend/function/AdminQueries0c37162b/function-parameters.json
  amplify/backend/function/AdminQueries0c37162b/src/app.js
  amplify/backend/function/AdminQueries0c37162b/src/yarn.lock
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/mappers.js
  amplify/backend/function/wcleanerCustomMessage/function-parameters.json
  amplify/backend/storage/wcleaner/cli-inputs.json
  amplify/backend/yarn.lock
  amplify/team-provider-info.json
  src/components/InvoicesFilters/InvoicesFilters.style.ts
  src/components/InvoicesFilters/InvoicesFilters.tsx
  src/components/InvoicesTable/InvoicesTable.tsx
  src/hooks/Jobs/InvoicePaidToogle/InvoicePaidToogle.tsx
  src/hooks/Jobs/useDeleteInvoice.ts
  src/hooks/Jobs/useGenerateInvoice.ts
  src/hooks/Jobs/useInvoicesInfinite.ts
  src/hooks/Jobs/useJobInvoice.ts
  src/hooks/Jobs/useUpdateInvoicePaid.ts
  src/pages/admin/invoices/InvoicesList/InvoicesList.tsx
  src/services/invoices.ts
  src/services/jobs.ts
  src/types/types.ts
Due: yarn format, yarn lint

issue #125 create migration
  .vscode/settings.json
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/storage/wcleaner/cli-inputs.json
  migrations/05-merge-invoices-inside-jobs.js
Due: yarn format

issue #125 fix invoice numbering
  .vscode/settings.json
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/mappers.js
  amplify/backend/storage/wcleaner/cli-inputs.json
  amplify/team-provider-info.json
Due: yarn format

issue #125 invoices refactor
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/mappers.js
  amplify/backend/function/wCleanerApi/src/routes/invoices.js
  amplify/backend/storage/wcleaner/cli-inputs.json
  amplify/team-provider-info.json
  migrations/05-merge-invoices-inside-jobs.js
Due: yarn format

issue #101 show customer invoices
  amplify/backend/backend-config.json
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/routes/invoices.js
  amplify/backend/storage/wcleaner/cli-inputs.json
  amplify/team-provider-info.json
  migrations/05-merge-invoices-inside-jobs.js
  src/components/CustomerInvoices/CustomerInvoices.tsx
  src/hooks/Jobs/useCustomerInvoices.ts
  src/pages/admin/customers/CustomerDetails/CustomerDetails.tsx
  src/services/customers.ts
  src/services/invoices.ts
Due: yarn format, yarn lint

issue #101 filter by paid
  .vscode/settings.json
  amplify/backend/backend-config.json
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/routes/invoices.js
  amplify/team-provider-info.json
  src/components/InvoicesFilters/InvoicesFilters.tsx
  src/components/InvoicesTable/InvoicesTable.tsx
  src/pages/admin/invoices/InvoicesList/InvoicesList.tsx
  src/services/invoices.ts
Due: yarn format, yarn lint

issue #101 fix job address display
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/team-provider-info.json
  src/services/jobs.ts
Due: yarn format, yarn lint

issue #101 edit invoice
  .vscode/settings.json
  amplify/backend/backend-config.json
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/routes/invoices.js
  amplify/backend/types/amplify-dependent-resources-ref.d.ts
  src/components/CustomerInvoices/CustomerInvoices.tsx
  src/components/DeleteInvoiceButton/DeleteInvoiceButton.tsx
  src/components/InvoiceForm/InvoiceForm.tsx
  src/components/InvoicePaidToogle/InvoicePaidToogle.tsx
  src/components/InvoicesTable/InvoicesTable.tsx
  src/components/JobInfoDisplay/JobInfoDisplay.tsx
  src/components/UpdateInvoiceModal/UpdateInvoiceModal.tsx
  src/hooks/Invoices/useCustomerInvoices.ts
  src/hooks/Invoices/useDeleteInvoice.ts
  src/hooks/Invoices/useGenerateInvoice.ts
  src/hooks/Invoices/useInvoicesInfinite.ts
  src/hooks/Invoices/useJobInvoice.ts
  src/hooks/Invoices/useUpdateInvoice.ts
  src/hooks/Invoices/useUpdateInvoicePaid.ts
  src/pages/admin/invoices/InvoicePreviewPage/InvoicePreviewPage.tsx
  src/pages/admin/invoices/InvoicesList/InvoicesList.tsx
  src/services/invoices.ts
Due: yarn format, yarn lint

issue #67 updating AWS SDK
  amplify/backend/backend-config.json
  amplify/backend/function/wCleanerApi/src/authentication.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/package.json
  amplify/backend/function/wCleanerApi/src/yarn.lock
  amplify/team-provider-info.json
  src/components/CustomerInvoices/CustomerInvoices.tsx
  src/components/DownloadInvoiceButton/DownloadInvoiceButton.tsx
  src/components/InvoicesTable/InvoicesTable.tsx
Due: yarn format, yarn lint

issue #131 paginate customers
  .vscode/settings.json
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/types/amplify-dependent-resources-ref.d.ts
  src/components/SearchBar/SearchBar.style.ts
  src/components/SearchBar/SearchBar.tsx
  src/hooks/Customers/useCustomers.ts
  src/pages/admin/customers/Customers/Customers.style.ts
  src/pages/admin/customers/Customers/Customers.tsx
  src/services/customers.ts
Due: yarn format, yarn lint

issue #67 delete aws-sdk v2
  amplify/backend/function/wCleanerApi/src/package.json
  amplify/backend/function/wCleanerApi/src/yarn.lock
Due: none

issue #67 upgrade nodejs to 24 in amplify
  amplify.yml
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
Due: none

issue #52 create invoice settings
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/mappers.js
  amplify/backend/function/wCleanerApi/src/routes/invoices.js
  src/components/JobInvoice/JobInvoice.tsx
  src/components/TopBar/TopBar.tsx
  src/hooks/Invoices/useInvoiceSettings.ts
  src/hooks/Invoices/useUpdateInvoiceSettings.ts
  src/pages/admin/invoices/InvoicePreviewPage/InvoicePreviewPage.tsx
  src/pages/admin/invoices/InvoiceSettingsPage/InvoiceSettingsPage.tsx
  src/routes/AppRoutes.tsx
  src/services/setting.ts
  src/types/types.ts
Due: yarn format, yarn lint

fix login and data api
  package.json
  src/components/AuthProvider/AuthProvider.tsx
  src/components/Customer/CreateCustomer/NewCustomerModal/NewCustomerModal.cy.tsx
  src/components/CustomerFiles/CustomerFiles.cy.tsx
  src/index.tsx
  src/pages/admin/customers/CustomerDetails/CustomerDetails.cy.tsx
  src/pages/admin/customers/Customers/Customers.cy.tsx
  src/pages/authentication/ForgotMyPassword/ForgotMypassword.cy.tsx
  src/pages/authentication/Login/LogIn.cy.tsx
  src/pages/authentication/ResetPassword/ResetPassword.cy.tsx
  src/services/adminQueries.ts
  src/services/authentication.ts
  src/services/dataApi.ts
  src/services/files.ts
  src/services/invoices.ts
  src/services/jobs.ts
  yarn.lock
Due: yarn format, yarn lint

admin queries, set password and log out
  amplify/backend/function/wCleanerApi/src/authentication.js
  amplify/team-provider-info.json
  src/pages/authentication/Login/Login.tsx
  src/pages/authentication/SetPassword/SetPassword.tsx
  src/services/adminQueries.ts
  src/services/authentication.ts
  src/services/error.ts
Due: yarn format, yarn lint

finish auth refactor
  src/services/authentication.ts
Due: yarn format, yarn lint

refactor storage
  src/services/files.ts
Due: yarn format, yarn lint

issue #67 upgrade amplify client to v6 (#133)
  amplify/backend/function/wCleanerApi/src/authentication.js
  amplify/team-provider-info.json
  package.json
  src/components/AuthProvider/AuthProvider.tsx
  src/components/Customer/CreateCustomer/NewCustomerModal/NewCustomerModal.cy.tsx
  src/components/CustomerFiles/CustomerFiles.cy.tsx
  src/index.tsx
  src/pages/admin/customers/CustomerDetails/CustomerDetails.cy.tsx
  src/pages/admin/customers/Customers/Customers.cy.tsx
  src/pages/authentication/ForgotMyPassword/ForgotMypassword.cy.tsx
  src/pages/authentication/Login/LogIn.cy.tsx
  src/pages/authentication/Login/Login.tsx
  src/pages/authentication/ResetPassword/ResetPassword.cy.tsx
  src/pages/authentication/SetPassword/SetPassword.tsx
  src/services/adminQueries.ts
  src/services/authentication.ts
  src/services/dataApi.ts
  src/services/error.ts
  src/services/files.ts
  src/services/invoices.ts
  src/services/jobs.ts
  yarn.lock
Due: yarn format, yarn lint

issue #132 batch retrieve invoice addresses
  .vscode/settings.json
  amplify/.config/project-config.json
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/routes/invoices.js
  amplify/team-provider-info.json
Due: yarn format

issue #132 update infra
  amplify/backend/api/APIGatewayAuthStack.json
  amplify/backend/api/wCleanerApi/cli-inputs.json
  amplify/backend/types/amplify-dependent-resources-ref.d.ts
  amplify/team-provider-info.json
Due: yarn format, yarn lint

save amplify outputs
  amplify/.config/project-config.json
  amplify_outputs.json
Due: none

issue #102 add logo to invoices
  src/components/JobInvoice/JobInvoice.styles.ts
  src/components/JobInvoice/JobInvoice.tsx
  src/components/LogoImageInput/LogoImageInput.tsx
  src/hooks/Invoices/useFileUrl.ts
  src/pages/admin/invoices/InvoicePreviewPage/InvoicePreviewPage.tsx
  src/pages/admin/invoices/InvoiceSettingsPage/InvoiceSettingsPage.tsx
  src/types/types.ts
Due: yarn format, yarn lint

issue #102 invoice format
  amplify/.config/project-config.json
  amplify/backend/function/wCleanerApi/src/ENV=dev
  amplify/team-provider-info.json
  src/components/LogoImageInput/LogoImageInput.tsx
  src/pages/admin/invoices/InvoiceSettingsPage/InvoiceSettingsPage.tsx
  src/services/files.ts
Due: yarn format, yarn lint

deploy
  .vscode/settings.json
  amplify/backend/types/amplify-dependent-resources-ref.d.ts
Due: yarn format, yarn lint

amplify generated
  .vscode/settings.json
  amplify/backend/types/amplify-dependent-resources-ref.d.ts
  amplify/team-provider-info.json
Due: yarn format, yarn lint

issue #135 starting invoice number
  .vscode/settings.json
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  amplify/backend/function/wCleanerApi/src/routes/invoices.js
  migrations/06-delete-all-invoices.js
  src/components/ErrorMessage/ErrorMessage.tsx
  src/components/GenerateInvoiceModal/GenerateInvoiceModal.tsx
  src/hooks/Invoices/useGenerateInvoice.ts
  src/services/dataApi.ts
  src/services/error.ts
  src/services/invoices.ts
  src/types/types.ts
Due: yarn format, yarn lint

add filters to customer jobs
  .vscode/settings.json
  amplify/backend/function/wCleanerApi/src/app.js
  amplify/backend/function/wCleanerApi/src/db.js
  aws/README.md
  aws/THIRD_PARTY_LICENSES
  aws/install
  src/components/CustomerJobs/CustomerJobs.tsx
  src/components/CustomerJobsFilters/CustomerJobsFilters.style.ts
  src/components/CustomerJobsFilters/CustomerJobsFilters.tsx
  src/hooks/Customers/addresses/useCustomerAddresses.ts
  src/pages/admin/invoices/InvoicesList/InvoicesList.tsx
  src/types/types.ts
Due: yarn format, yarn lint

uninstall package
  amplify/README.md
  amplify/backend/function/AdminQueries0c37162b/AdminQueries0c37162b-cloudformation-template.json
  amplify/backend/function/wCleanerApi/wCleanerApi-cloudformation-template.json
  amplify/backend/function/wcleanerCustomMessage/wcleanerCustomMessage-cloudformation-template.json
  amplify/team-provider-info.json
  package.json
  yarn.lock
Due: none

do not freeze lockfile
  amplify.yml
Due: none

replace npm with yarn
  amplify.yml
Due: none

add resolutions and install all deps
  amplify.yml
  package.json
Due: none

depoy gen2
  amplify/backend.ts
  amplify/custom/monitoring/construct.ts
  amplify/custom/sesEmail/construct.ts
  amplify/function/AdminQueries0c37162b/package.json
  amplify/function/AdminQueries0c37162b/yarn.lock
  amplify/function/wCleanerApi/db.js
Due: yarn format, yarn lint

add package.json to lambda
  .gitignore
  amplify/function/wCleanerApi/package.json
  amplify/function/wCleanerApi/yarn.lock
  yarn.lock
Due: none

fix minor issues
  amplify.yml
  amplify/backend.ts
  amplify/custom/monitoring/construct.ts
  amplify/custom/sesEmail/construct.ts
  amplify/function/wCleanerApi/db.js
Due: yarn format, yarn lint
